<div class="text-center">
  <button class="btn rounded-pill" style="background-color:#e8fcec; color:#17d475" data-bs-toggle="modal" data-bs-target="#registerModal">Create new account</button>
</div>

<form action="/register" method="POST">
  <div class="modal fade" id="registerModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-center">
        <h1 class="modal-title fs-3">Sign Up</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="username" id="username" placeholder="Username" required>
          </div>

          <div class="input-group mb-3">
            <input type="text" class="form-control" name="playername" id="playername" placeholder="Player name" required>
          </div>

          <div class="input-group mb-3">
            <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
          </div>

          <div class="input-group mb-3">
            <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" required>
          </div>

          <div class="input-group mb-3">
            <label class="input-group-text" for="classYear">Class of</label>
            <select class="form-select" name="classYear" id="classYear" required>
              <option selected disabled value=""></option>
              <option value="2023">2023</option>
              <option value="2024">2024</option>
              <option value="2025">2025</option>
              <option value="2026">2026</option>
              <option value="Other/NA">Other/NA</option>
            </select>
          </div>

          <div class="input-group mb-3">
            <label class="input-group-text" for="profilePhoto">Profile Photo</label>
            <input type="file" accept=".jpg,.gif,.png" class="form-control" name="profilePhoto" id="profilePhoto">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn rounded-pill" style="background-color:#dedee3; color:#9c9cac" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn rounded-pill" style="background-color:#e8fcec; color:#17d475">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</form>